/* Reset / Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #f9f9f9;
}
#checkbox{
  display: none;
}
.menu{
  display: none;
}

.container {
  background-color: #000000;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  color: #009624;

}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid #eee;
  position: sticky;
  top: 0;
  background-color: #b6a3a3;
  z-index: 1000;
}



@media (max-width:480px) {
  .navbar .list-item{
    
    display: none;
    justify-content: center;
    flex-direction: column;
  
    background-color: #009624;
  }
  .menu{
    display: block;
    padding: 20px;
  }
}

@media (min-width:481px) {
  .navbar .select_option {
    display: none;
  }
}
.logo {
  margin-left: 1rem;
  background-color: #c90fdac0;
  border-radius: 15px 0px 15px 0px;

}


.logo img {
  height: 3rem;
  width: 65px;

}

.list-item {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.list-item a {
  text-decoration: none;
  font-weight: 500;
  color: #181414;
  transition: color 0.3s;
}

.list-item a:hover {
  color: #00c853;
  /* border-inline:3px solid #004182; */
  border-bottom: 3px solid #004182;
  box-shadow: -5px 5px 7px  #f8bf02 ;
  


}

/* Hero Section */
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.hero-text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.hero-text p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: #ece6e6;
}

.button {
  padding: 0.7rem 1.2rem;
  background: conic-gradient(
    rgba(180, 66, 13, 0.979),
    rgba(91, 13, 192, 0.979)
    /* rgba(13, 156, 192, 0.979) */
    );
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.button:hover {
  background: #009624;
}

.hero .image img {
  width: 90%;
  border-radius: 50%;
  box-shadow: 0px 0px 30px  blueviolet;
}


/* About Section */
.about {
  display: grid;
  gap: 2rem;
  padding: 3rem 0;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.about h2 {
  margin-bottom: 0.7rem;
  color: #00c853;
}

/* Services */
.service2 {
  padding: 3rem 0;
}

.service2 h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #00c853;
}

.service2 ul {
  list-style: none;
  padding-left: 0;
}

.service2 h3 {
  margin-top: 1.5rem;
  color: #7e6666;
}

.service2 p {
  color: #f3eded;
}

/* Projects */
.project {
  display: grid;
  gap: 2rem;
  padding: 3rem 0;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.project>div {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project>div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.project p {
  margin: 1rem 0;
  color: #161414;
}

.project a {
  text-decoration: none;
  font-weight: 600;
  color: #00c853;
}

/* Skills */
.Skills {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3rem 0;
  color: #000000;
}

.skill-card {

  color: #0a0909;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.skill-card ul li {
  color: #c7c2cc;
}

.skill-card h3 {
  margin-bottom: 1rem;
  color: #00c853;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card li {
  margin-bottom: 0.5rem;
  color: #555;
}

/* Contact */
.contact-section {
  color: #fff;
  /* background-image: url(./images/portfolio-2.jpg); */
  padding: 3rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-text h2 {
  margin-bottom: 1rem;
  color: #00c853;
}

.contact-info p {
  margin-bottom: 1rem;
}

.contact-info a {
  color: #00c853;
  text-decoration: none;

}

#front {
  color: #f9f9f9;
  background-image: url(./images/front.png);
  background-repeat: no-repeat;
  background-size: cover;


}

#front ul li {
  color: #bbaf0a;
}

#back {
  background-image: url(./images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

#analysis {
  background-image: url(./images/analysis.jpeg);
  background-repeat: no-repeat;
  background-size: cover;


}

#analysis ul li {
  color: #1a0747;
}

#version {
  background-image: url(./images/version.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}





.blog-head-pragraph {
  padding: 9px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 12px;
  font-size: 18px;
  color: #474242;
}

.blog-head-pragraph p {
  color: #003e80;
}

.blog-head-pragraph a {
  text-decoration: none;

}

.blog-head-pragraph a :hover {
  background-color: #4272a5;
  color: rebeccapurple;
}


.contact-icon {
  background-color: #c1d3c577;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
  border-radius: 15px;
   color: #0066cc;
  font-size: 15px;
  border: 3px solid red;
}

  


/* .contact-icon {
  color: #0066cc;
  font-size: 15px;
  border: 3px solid red;
} */

.contact-form {
  background-color: #003e80;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  border-radius: 15px;
}

.contact-form input {
  background-color: #a2ac9b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;

}

.contact-form label {
  color: #28e20f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  font-size: 23px;

}

.contact-form textarea {
  background-color: #a2ac9b;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  margin: 1rem 4rem;
  height: auto;
}

.contact-form button {
  padding: 0.8rem;
  background: #00c853;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 4rem;
}

.contact-form button:hover {
  background: #009624;
}

.blog {
  background-image: url(./images/blog1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1268px;
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0f0d0d;
  gap: 10px;

}

.blog-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.backend {
  width: 850px;
  height: 400px;
  background-color: #f7f7f79d;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 12;

}

.backend .blog-card {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;


}

.frontend {
  width: 850px;
  height: 500px;
  background-color: #f7f7f79d;
  border-radius: 10px;

}

.data-analysis .blog-card {
  width: 850px;
  height: 400px;
  background-color: hsla(59, 52%, 50%, 0.507);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 15px;
}

.imagg img {
  border-radius: 23px;
  padding: 5px;
}

.blog-head-pragraph {
  padding: 9px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 12px;
  font-size: 18px;
  color: #474242;
}

.blog-head-pragraph p {
  color: #003e80;
}

.blog-head-pragraph a {
  text-decoration: none;

}

.blog-head-pragraph a :hover {
  background-color: #4272a5;
  color: rebeccapurple;
}



/* Sign-in box */
.sign-in {
  background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
  width: 60%;
  max-width: 450px;
  min-height: 420px;
  padding: 25px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.sign-in input {
  padding: 19px;
  width: 96%;
  max-width: 450px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 12px;
}

.sign-in button {
  width: 95%;
  max-width: 350px;
  height: 40px;
  border-radius: 16px;
  border: none;
  background-color: #004182;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.sign-in button:hover {
  background-color: #0066cc;
  transform: scale(1.03);
}

.sign-in p {
  color: #BB3D24;
  margin: 9px;
  font-size: 14px;
}

/* Social icons */
.social-m {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 28px;
  color: #c2d0df;
  transition: 0.3s ease;
  margin-top: 15px;
}

.social-m i {
  cursor: pointer;
  transition: 0.3s ease;
}

.social-m i:hover {
  color: #004182;
  background-color: #e1e1e1;
  border-radius: 50%;
  padding: 8px;
}



/* Footer */
footer {
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 2rem;
  border-top: 2px solid #eee;
  color: #555;
}


/* Responsines */
@media screen {
  n
  
}